.resume
    %h1
        = @resume['info']['name']
    .info
        = @resume['info']['address']
        |
        = @resume['info']['phone_number']
        |
        = @resume['info']['email']

    %h2
        qualifications
    %p
        = @resume['qualifications']

    %h2
        experience
    - @resume['experience'].each do |e|
        .company
            %h3.name
                = e['name']
            .date
                = e['date_employed']
            - e['clients'].each do |c|
                .client
                    %h4
                        = c['name']
                    .projects
                    = c['projects'].each do |p|
                        .project
                            %h5
                                = p['name']
                            .role
                                = p['role']
                            %ul.details
                            - p['details'].each do |d|
                                %li
                                    = d
