.resume
    %h1
        = @resume['info']['name']
    .info
        = @resume['info']['address']
        |
        = @resume['info']['phone_number']
        |
        = @resume['info']['email']

    %h2
        qualifications
    %p
        = @resume['qualifications']

    %h2
        experience
    - @resume['experience'].each do |e|      
        .company
            %h3.name
                = e['name']
            .date
                = e['date_employed']

            .client
                %h4
                    Carver Climbing Club
                .project
                    %h5
                        Membership Renewal Drive System
                    .project-role
                        Consultant
                    %ul
                        %li
                            Currently bidding on a project to help a local climbing club with a membership renewal drive that will bring all member records into a web application built with Ruby on Rails
                        %li
                            Helping stakeholders understand how technology can benefit the club
                        %li
                            Designed workflow for offline/online membership renewal as part of project proposal



